*{
    margin: 0;
    padding: 0;
}
.form__title{
    padding: 35px 0px 25px 0px;
}
body{
    max-width: 600px;
    margin: 0 30px;
}

fieldset{
    margin-bottom: 15px;
    padding: 10px;
}


label {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
}
input:focus {
    background: #eaeaea;
}

input[type=reset]:hover,
input[type=button]:hover {
    background: #96b39e;
}
